In [6]:
((2 * 10) / 2) ** 2 + 0.5 - 0.25

100.25

In [8]:
4*(6+5)

44

In [11]:
4*6+5

29

In [29]:
import math
math.sqrt(5)

2.23606797749979

In [34]:
5**0.5

2.23606797749979

In [48]:
s = 'hello'
x = s[1]
print(x)

o

In [38]:
s = 'hello'
x = s[::-1]
print(x)

olleh

In [51]:
s = 'hello'
x = s[4]
print(x)

o

In [56]:
s = 'hello'
x = s[-1]
print(x)

o

In [62]:
list_1 = [0,0,0]
print(list_1)

[0, 0, 0]

In [64]:
list_1 = [0,0]
list_1.append(0)
print(list_1)

[0, 0, 0]

In [99]:
list3 = [1,2,[3,4,'hello']]
list4 = list3.pop()

list4[2] ='goodbye'
print(list4)

[3, 4, 'goodbye']

In [100]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
print (l)

[1, 2, [3, 4, 'goodbye']]

In [106]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [110]:
3 == 4

False

In [111]:
3 != 4

True

In [113]:
3 > 4

False

In [115]:
3 < 4

True

In [117]:
3 >= 4

False

In [119]:
3 <= 4

True

In [121]:
2 > 3

False

In [123]:
3 <= 2

False

In [126]:
3 == 2.0

False

In [128]:
3.0 == 3

True

In [130]:
4 ** 0.5 != 2

False

In [132]:
import math
math.sqrt(4)

2.0

In [134]:
4 ** 0.5

2.0

In [136]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1': 4}]

l_one[2][0] >= l_two[2]['k1']

False

In [140]:
l_two = [1,2]
l2 ={'k1':4}

l_two.append(l2)
print(l_two)

[1, 2, {'k1': 4}]

In [174]:
salary  = 10000
manager_salary = 2 * (salary ** 2)
print (manager_salary)

200000000

In [187]:
salary_in_rs = 200000000

us_rate = 70 

manager_salary_usd  = round((salary_in_rs / us_rate),4)
print(manager_salary_usd)

2857142.8571

In [161]:
name = "Bharathi"
rev_name = name [:: -1]
print(rev_name)

for i in range(0,len(rev_name),2):
    print(rev_name[i])

ihtarahB
i
t
r
h

In [198]:
salaries = [10000,20000,30000,40000,50000]

avg_salaries = sum(salaries)/ len(salaries)

print("before terminating: ",avg_salaries)

salaries.pop(0)

new_salary = 10000

salaries.append(new_salary)

avg_salaries = sum(salaries)/ len(salaries)

print("after joining: ", avg_salaries)

before terminating:  30000.0
after joining:  30000.0